<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>82989959842-7iebjiclff30q6gic8ba3761fc9bc2d6.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.82989959842-7iebjiclff30q6gic8ba3761fc9bc2d6</string>
	<key>API_KEY</key>
	<string>AIzaSyAqE1UgZYsRZ-y6QRNdrb8-n4TC2f34v5g</string>
	<key>GCM_SENDER_ID</key>
	<string>82989959842</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>rathi.Conference</string>
	<key>PROJECT_ID</key>
	<string>conf-5c647</string>
	<key>STORAGE_BUCKET</key>
	<string>conf-5c647.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:82989959842:ios:ca925210dd3171de</string>
	<key>DATABASE_URL</key>
	<string>https://conf-5c647.firebaseio.com</string>
</dict>
</plist>