<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>Conference.xcscheme</key>
		<dict>
			<key>orderHint</key>
			<integer>0</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>517643921EDB4849008CC752</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>518DFE071F2206F300955C4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>518DFE151F22074700955C4F</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51D0C9301F226F86007BE591</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51D93B411F06D1AA00C057A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51D93B4F1F06D1FA00C057A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>51D93B5D1F06D21600C057A7</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
